@model Treater2.ViewModels.HomeIndex

@{
    ViewBag.Title = "Index";
    var CurrentTreater = ViewBag.Treater;
}

<img src="/Content/Images/FRLogo.jpg" />
<h2>Fiberesin Treater Log</h2>



<h1>You are using: @CurrentTreater.TreaterName</h1>
